@media screen and (max-width: 425px) {
    .contain {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: aqua;
        height: 800px;
    }
    .card {
    
    }
}